extends layout
block content
  div(class="table-responsive")
    table(class="table table-hover table-striped table-bordered")
      thead
        th File
        th Pass or Fail
        th Type
        th File Size
        th Created
        th &nbsp;
      tbody
      for file in files
        tr(id=file.filePath)
          td=file.name
          if (file.status=='Pass')
            td(class="label-success")=file.status
          else
            td(class="label-danger")=file.status
          td=file.type
          td=(file.size/(1024*1024)>=1  ? Math.round(file.size/(1024*1024),2)+' MB' : (file.size/(1024)>=1 ? Math.round(file.size/1024,2)+' KB' : file.size+ ' Bytes'))
          td=moment(file.birthtime).format('MM-DD-YYYY')
          td 
            if (file.type=='file')
              form(action='/view' method='POST')
                input(type='hidden' name="path" value=file.filePath)
                input(type='submit' class="btn btn-sm btn-primary" value='View File')
            else
              form(action='/' method='POST')
                input(type='hidden'  name="path"  value=file.filePath)
                input(type='submit' class="btn btn-sm btn-primary" value='View Files in Directory')
  script(type='text/javascript').
    function load(){
      var list=!{JSON.stringify(files).replace(/<\//g, '<\\/')};
      list.forEach(file=>{
        //console.log(file.filePath);
        socket.emit('getstatus',file.filePath);
      })
    }
    load()